*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first{
    display: flex;
    
}
.first  div{
    padding: 20px;
    margin: 15px;
    background-color: #ffffff;
}
.cont1>h3{
    color: #bc2229;
    width: 200px;
    margin: 10px;
    line-height: 1.3;
    font-size: 20px;
}
.cont1 >p{
    color: #261a53;
    line-height: 1.3;
    font-size: 15px;
}
.cont1{
    padding: 15px 10px;
    margin: 5px;
    max-width: 45%;
    text-align: center;
    border: 1px solid #c1bcd1;
    border-radius: 5px;

}